{% extends 'base.html' %}

{% block title %} My Order {% endblock %}

{% block content %}
<div class="container my-5 ">
    <div class="table-responsive">
        <table class="table bg-white">
            <thead class="table-info">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price \ Item</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items.item.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>Rp. {{ item.item.price }}</td>
                    <td>
                        {% if item.item.discount %}
                        Rp. {{  item.get_total_item_discount_price }} <small class="text-small text-secondary">Hemat Rp. {{ item.get_amount_saved }}</small>
                        {% else %}
                        Rp. {{ item.get_total_item_price }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}