{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Checkout {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="requiredField">Address*</label>
                        <div>
                            {% if address %}
                            {% for add in address %}
                            <div class="form-check">
                                <input type="radio" name="address" id="address-{{ add.pk }}" class="form-check-input" value="{{ add.address_link }}">
                                <label for="address-{{ add.pk }}" class="form-check-label">{{ add.detailed_address  }}</label>
                            </div>
                            {% endfor %}
                            {% else %}
                            <a href="{% url 'beauty:add-address' %}?url={% url 'com:checkout' %}" class="btn btn-primary">Add Your Address </a>
                            {% endif %}
                        </div>
                    </div>
                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary"> Create Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}