{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Checkout {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary"> Create Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}