{% extends 'base.html' %}

{% block title %} On Going Order Item {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <div class="card">
            <div class="card-body">

                <div class="accordion" id="accordionExample">
                    {% for item in items %}
                    <div class="card">
                        <div class="card-header bg-white" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ item.pk }}" aria-expanded="true" aria-controls="collapse{{ item.pk }}">

                                    Order reff num - {{ item.reff }}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse{{ item.pk }}" class="collapse {% if forloop.counter == 1 and not item.accepted %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
                            {% for pr in item.item.all %}
                            <div class="card-body" style="background-color: rgba(0,0,0,.03);">
                                {{ pr }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
</div>

{% endblock %}