{% extends 'base.html' %}

{% block title %} My Address List {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto bg-white py-3">
        <div class="container bg-white">
            {% for add in address %}
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">{{ add }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ add.detailed_address }}</h6>
                    <div class="card-text mb-2">
                        <div class="row">
                            <div class="col-3 text-truncate">{{ add.main_address }}</div>
                        </div>
                        <br>
                        {% if add.phone %}
                        {{ add.phone }}
                        {% else %}
                        {{ add.user.user.phone }}
                        {% endif %}
                    </div>
                    <a href="{% url 'beauty:update-address' add.address_link %}" class="card-link"> Update </a>
                    <a href="#" class="card-link text-danger"> Delete <i class="bi bi-trash"></i> </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
