{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-group">
                <button class="btn btn-primary"> Save </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    document.getElementById('id_phone').placeholder = "Fill this field if you different phone number";
</script>
{% endblock %}
