{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="bg-pink-2">
    <div class="container d-flex flex-column align-items-center">
        <img src="{% static 'beauty/img/0002.png' %}" alt="Image" class="img-fluid">
    </div>
</div>

<!-- profiles -->
<div class="py-5 bg-white mb-0">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-lg-12 mx-auto">
                <h3 class="ml-3">Hi Saya {{ profile.nick_name }}</h3>
                <div class="row mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <img src="{{ profile.profile_img.url }}" alt="Annisa Maharani" class="img-fluid">
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <h4>{{ profile }}</h4>
                        <hr>
                        <div class="text-justify">
                            {{ profile.desc | safe }}
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            {% for socmed in profile.social_media.all %}
                            <div class="item social">
                                <a href="{{ socmed.redirect }}" target="_blank"><i class="{{ socmed.social.icon }}"></i></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mx-auto py-5">
        <div class="col-lg-6 my-auto">
            <img src="{% static 'beauty/img/0003.png' %}" alt="Blog" class="img-fluid">
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="card border-0 bg-transparent">
                <h1 class="ml-3">Latest Post</h1>
                {% for post in latest %}
                <div class="card-body">
                    <a href="{% url 'beauty:detail' post.link %}" class="text-green text-decoration-none">
                        <h3>{{ post.title }}</h3>
                        <h4 class="text-truncate">{{ post.content | safe }}</h4>
                    </a>
                    <small class="text-muted">di upload pada tanggal </small>
                </div>
                <hr>
                {% endfor %}
                <a href="" class="btn btn-aero-blue"> See All Page Post</a>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto bg-white py-5">
    <div class="col-lg-7 col-md-10 col-9  mx-auto">
        <h2 class="modal-title mb-5"> Products </h2>
        {% for prod in products %}

        {% if forloop.counter|divisibleby:2 == 0 %}
        <div class="card mb-4 mx-auto" style="max-width: fit-content;">
            <div class="row mx-auto no-gutters">
                <div class="col-lg-8 col-8 my-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.p_title }}</h5>
                        <p class="card-text">{{ prod.contents | safe }}...........</p>
                        <p class="card-text">
                            <a href="{% url 'beauty:pro-detail' prod.p_link %}" class="btn btn-primary">Read More</a>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-lg-4 col-4 my-auto">
                    <img src="{{ prod.p_img }}" alt="Tender Care" class="img-fluid">
                </div>
            </div>
        </div>
        {% else %}

        <div class="card mb-4 mx-auto" style="max-width: fit-content;">
            <div class="row mx-auto no-gutters">
                <div class="col-lg-4 col-4 my-auto">
                    <img src="{{ prod.p_img }}" alt="Tender Care" class="img-fluid">
                </div>
                <div class="col-lg-8 col-8 my-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.p_title }}</h5>
                        <p class="card-text">{{ prod.contents | safe }}...........</p>
                        <div class="card-text">
                            <form action="{% url 'beauty:pro-detail' prod.p_link %}" method="get" enctype="multipart/form-data">
                                <input type="text" name="pp" value="2" hidden>
                                <button class="btn btn-primary"> Read More</button>
                            </form>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-12 col-md-10 col-8 mx-auto">
        <div class="container">
            <div class="d-flex justify-content-end">
                <div class="row mx-auto">
                    <div class="col-lg-4 col-sm-4 col-md-4 ml-auto">
                        <a href="{% url 'beauty:pro-list' %}" class="col btn btn-aero-blue"> See All Products </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end profiles -->
{% endblock %}