{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="container my-5">
    <div class="card">
        <div class="card-body text-center">
            <div class="row mx-auto my-3">
                <div class="text-center  col-3 col-lg-3 mx-auto">
                    {% if not user.user.image %}
                    <i class="fas fa-user"></i>
                    {% else %}
                    <img src="{{ user.user.image.url }}" alt="{{ user }}-profile image" class="img-fluid">
                    {% endif %}
                    <p>{{ user }}</p>

                </div>
            </div>
            <a href="{% url 'beauty:address-list' %}" class="text-decoration-none">Address</a>
            <br>
            <a href="{% url 'beauty:update-profile' %}" class="text-decoration-none">Update Profile</a>
            <div class="card mt-4 text-left">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-2 col-form-label">Username : </label>
                        <div class="col-sm-10 col-10 form-control" id="username">{{ user.username }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="f_name" class="col-sm-2 col-2 col-form-label">First Name : </label>
                        <div class="col-sm-10 col-10 form-control" id="f_name">{{ user.first_name}} </div>
                    </div>
                    <div class="form-group row">
                        <label for="l_name" class="col-sm-2 col-2 col-form-label">Last Name : </label>
                        <div class="col-sm-10 col-10 form-control" id="l_name">{{ user.last_name }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-2 col-form-label">Email : </label>
                        <div class="col-sm-10 col-10 form-control" id="email">{{ user.email }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-2 col-form-label">Phone Number : </label>
                        <div class="col-sm-10 col-10 form-control" id="phone">{{ user.user.phone }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
