{% extends 'my.html' %}
{% load static %}
{% block title %} CPanel Home {% endblock %}

{% block content %}
<div class="bg-pink">
    <div class="container d-flex flex-column align-items-center">
        <img src="{% static 'beauty/img/0001.png' %}" alt="Content Creator" class="img-fluid mx-auto">
    </div>
</div>

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-end">
                <a href="{% url 'my:create' %}" class="btn btn-primary"> Create Post</a>
            </div>
        </div>
        <div class="card-body">
            <form method="get" enctype="multipart/form-data">
                <div class="row mx-auto my-3">
                    <input type="text" name="q" class="form-control col-lg-11 col-10">
                    <button class="btn btn-primary col-lg-1 col-2"><i class="bi bi-search"></i></button>
                </div>
            </form>
            {% if post %}
            <table class="mt-4 table table-responsive-lg" id="post">
                <thead class="thead-light">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for post in post %}
                <tr>
                    <td>{{ post }}</td>
                    <td>{{ post.date_create }}</td>
                    <td>
                        <form action="{% url 'my:update' post.link %}">
                            <button class="btn btn-success"> Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'my:delete' post.link %}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td><a href="{% url 'my:preview' post.link %}">{{ post.link }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="row mx-auto">
                <div class="col-lg-10 col-10 mx-auto  mt-4">
                    <h1 class="text-dark text-center font-times-new-roman ">maaf halaman yang kamu cari tidak tersedia</h1>
                </div>
            </div>
            {% endif %}
            <div class="d-flex justify-content-center py-4">
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}#post"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">begin</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for n in page_obj.paginator.page_range %}
                            {% if page_obj.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                            </li>
                            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}#post">{{ n }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}#post" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">end</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}