{% extends 'my.html' %}
{% block title %} Preview Page {% endblock %}
{% load static %}
{% block content %}
    <div class="container container-fluid bg-white px-2 py-5 break-text my-5">
        <div class="row mx-auto">
            <div class="col-lg-12 col-12" id="content">
                <div class="text-justify">
                    {% if page %}
                    {{ post.content | safe }}
                    {% else %}
                    {{ post.p_content | safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'beauty/js/config.js' %}"></script>
{% endblock %}
