{% extends 'base.html' %}

{% block title %} On Going To Shipped Products {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <div class="card">
            <div class="card-body">
                {% for item in items %}
                    {{ item }}'s order status : 
                    {% if item.accepted %}
                    <a class="btn btn-success disabled">Accepted</a>
                    {% elif item.shipped %}
                    item is shipped and waited the user accepted the item                    
                    {% else %}
                    <a href="" class="btn btn-primary">set shipped</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
