{% load static %}
<footer>
    <div class="card">
        <div class="card-body">
            <div class="py-5" id="footer">
                <div class="container">
                    <div class="row mx-auto">
                        <div class="col-lg-3 mt-4 mx-auto">
                            <h4>Resource</h4>
                            <div class="d-flex flex-column">
                                <a href="https://freepik.com">FreePik.com</a>
                                <a href="https://sman33hebat.wixsite.com/sman33jkt">SMAN 33 Jakarta</a>
                                <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/">Bootstrap
                                    @4.6</a>
                            </div>
                        </div>
                        <div class="col-lg-3 mt-4 mx-auto">
                            <h4>Lokasi</h4>
                            <a href="https://www.google.com/maps/place/State+Senior+High+School+33+Jakarta/@-6.1492551,106.7247803,17z/data=!3m1!4b1!4m5!3m4!1s0x2e6a1d53d9640c83:0xaeee76439cf3b23a!8m2!3d-6.1492551!4d106.726969"
                               class="text-decoration-none" target="_blank">
                                <img src="{% static 'beauty/img/sman_33.jpg' %}" alt="IT PLN Jakartas"
                                     class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer2" class="bg-primary text-center text-white pt-3 pb-3">
        Created by <a href="https://www.instagram.com/an.maharans/" class="text-white">Annisa</a>
        <br>
        2021<sup>&copy;</sup>
    </div>
</footer>