{% load static %}
<footer>
    <div class="card">
        <div class="card-body">
            <div class="py-5" id="footer">
                <div class="container">
                    <div class="row mx-auto">
                        <div class="col-lg-3 mt-4 mx-auto">
                            <h4>Resource</h4>
                            <div class="d-flex flex-column">
                                <a href="https://freepik.com">FreePik.com</a>
                                <a href="https://itpln.ac.id">SMAN 33 Jakarta</a>
                                <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/">Bootstrap @4.6</a>
                            </div>
                        </div>
                        <div class="col-lg-3 mt-4 mx-auto">
                            <h4>Lokasi</h4>
                            <img src="{% static 'beauty/img/sman_33.jpg' %}" alt="IT PLN Jakartas" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer2" class="bg-primary text-center text-white pt-3 pb-3">
        Created by <a href="https://www.instagram.com/an.maharans/" class="text-white">Annisa</a>
        <br>
        2021<sup>&copy;</sup>
    </div>
</footer>